<div class="question side-padding">
  What's your favorite song?
</div>

<div class="input-container side-padding inner-content">
  <div class="track-container" id="track-name">
    <input type="text" id="track" placeholder="Song">
    <div class="options"></div>
  </div>
  
  <div class="artist-container" id="artist-name">
    <input type="text" id="artist" placeholder="Artist">
    <div class="options"></div>
  </div>

  <div class="submit-container">
    <button id="submit">submit</button>
  </div>
</div>

<script src="/suggest/suggest.js"></script>
<script src="/js/main.js"></script>
<script src="/js/input.js"></script>
<script src="/js/submit.js"></script>
